/*

NOTES

#cn-form input[type="text"]
remove width

#cn-form table
remove width

add:
#cn-form #metabox-name input[type="text"] {
	width: 100%;
};

 */

/* Styles for when the metabox is displayed on the site frontend via Form */
/* Hide the table if it overflox the widget boundries. */
#cn-metabox-business-hours .cn-metabox-inside {
	overflow: hidden;
}

#cn-metabox-business-hours table {
	border-collapse: collapse;
	width: auto;
}

/* Bold the table head, foot and row head. */
#cn-metabox-business-hours thead,
#cn-metabox-business-hours tfoot,
#cn-metabox-business-hours th {
	font-weight: bold;
	width: auto;
}

#cn-metabox-business-hours table tbody th {
	border-right: 15px solid transparent;
	width: auto;
}
#cn-metabox-business-hours table tbody th.cn-metabox-label-empty {
	border-right: none;
	width: 0;
}

#cn-metabox-business-hours table tbody {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

#cn-metabox-business-hours table tr td {
	border-right: 15px solid transparent;
}

/*#start_of_week tr > th,
#start_of_week tr > td {
	width: auto !important;
}*/

/* The input fields are readonly to prevent manual text input. */
/* Set the background white and the width to the width of the timepicker. */
#cn-metabox-business-hours input[type="text"].cn-timepicker {
	padding: 2px;
	width: auto;
}

/* The add/remove periond buttons. */
#cn-metabox-business-hours .button {
	color: #555;
	cursor: pointer;
	border-color: #cccccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
 	vertical-align: top;
}

#cn-metabox-business-hours p .button {
	vertical-align: baseline;
}

#cn-metabox-business-hours .button:hover,
#cn-metabox-business-hours .button:focus {
	background: #fafafa;
	border-color: #999;
	color: #222;
}

#cn-metabox-business-hours .button:focus {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

#cn-metabox-business-hours .button:active {
	background: #eee;
	border-color: #999;
	color: #333;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

#cn-metabox-business-hours table tr td p {
	margin-top: 16px;
}

#cn-metabox-business-hours input[type="text"].cn-timepicker {
	background: #FFF url(../images/x.png) no-repeat right -10px center;
}
#cn-metabox-business-hours input[type="text"].cn-timepicker.x {
	background-position: right 5px center;
}
#cn-metabox-business-hours input[type="text"].cn-timepicker.onX {
	cursor:pointer;
}

#cn-metabox-business-hours .button {
	border-radius: 50%;
	font-size: 1.5em;
	font-weight: 600;
	height: 24px;
	line-height: 1em;
	padding: 0 5px;
	width: 24px;
}

/* For timepicker. */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/* Hour of operation styles. */
.cnbh-block {
	max-width: 18em;
}

p.cnbh-status {
	font-weight: bold;
	text-align: center;
}

p.cnbh-status-open {
	color: green;
}

.cnbh-block table {
	border: none;
	width: 100%;
}

.cnbh th {
	font-weight: bold;
}

.cnbh th, .cnbh td {
	border: none;
	min-width: 3em;
	padding: .5em;
}

.cnbh th.cnbh-separator, .cnbh td.cnbh-separator {
	max-width: 1em;
	padding: 0;
}

.cnbh thead th, .cnbh tfoot th, .cnbh td, .cnbh td.cnbh-closed {
	text-align: center;
}

.cnbh-open-period td {
	color: green;
	font-weight: bold;
}
